*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.back-img {
    width: 100%;
    height: auto;
}
.content {
    background-color: rgb(255, 255, 255);
    margin: 24px;
    padding: 24px;
    border-radius: 10px;
    width: 600px;
    position: relative;
    margin: -120px auto;
    
}
.backgrnd {
    background-color: rgb(255, 232, 255);
    min-height: 70vh;
}
.grid-info {
    display: grid;
    grid-template-columns: 40px 1fr;
}
.star-icon {
    width: 25px;
    display: inline-block;
}
.main-heading {
    line-height: 24px;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 30px;    
}
.question {
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.answer {
    margin-bottom: 24px;
    font-size: 12px;
    color: rgb(140, 139, 139);
    display: none;
}

.show-answer {
    display: block;
}
.show-icon {
    display: inline;
}
.hide-icon {
    display: none;
}


